LogFile /var/log/clamav/clamav.log
PidFile /run/clamav/clamd.pid
LocalSocket /var/run/clamav/clamd.ctl
FixStaleSocket true
LocalSocketGroup clamav
LocalSocketMode 666
User clamav

ScanOnAccess true
OnAccessIncludePath {{ user_home }}/Downloads
OnAccessPrevention {{ clamav_on_access_prevention | default('true') }}
OnAccessExtraScanning true

# Action to take when a virus is found.
VirusEvent /usr/local/bin/clamav-quarantine.sh "%f"