LogFile /var/log/clamav/clamav.log
PidFile /run/clamav/clamd.pid
LocalSocket /run/clamav/clamd.ctl
FixStaleSocket true
LocalSocketGroup clamav
LocalSocketMode 666
User clamav

OnAccessExcludeRootUID yes
OnAccessExcludeUname clamav
OnAccessIncludePath {{ user_home }}/Downloads
OnAccessPrevention {{ clamav_on_access_prevention | default('yes') }}
OnAccessExtraScanning yes
