- name: Ensure /etc/systemd/resolved.conf.d exists
  become: true
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Configure Cloudflare for Families DNS
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/resolved.conf.d/cloudflare-families.conf
    content: |
      [Resolve]
      DNS=1.1.1.3 1.0.0.3 2606:4700:4700::1113 2606:4700:4700::1003
      DNSStubListener=yes
      DNSOverTLS=yes
    mode: '0644'
  notify: Restart resolved

